@import 'https://fonts.googleapis.com/css?family=Montserrat';

html, body
{
  width: 100%;
  height: 100%;
}

html { min-height: 100%; }
body { font-family: 'Montserrat', sans-serif; }

.wrapper
{
  min-height: 100%;
  height: auto;
  max-width: 768px;
  margin: 0 auto;
}

.container-full-bg
{
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  background-image: url('../img/background.png');
  background-position: center;
  background-size: cover;
}

.game-title
{ 
  display: block;
  box-sizing: border-box;
  font-size: 3em;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
  font-weight: bold;
}

#game-board
{
  background-color: white;
  width: 100%;
  height: 575px;
  margin: 20px auto;
}

#trivia-cards
{
  background-color: grey;
  width: 95%;
  height: 450px;
  margin: 20px auto;
}

#timer
{

}

.start-button
{
  display: block;
  width: 95%;
  margin: 20px auto;
  background-color: #f44336;
  color: #fff;
  border: 2px solid #f44336;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.disabled
{
  opacity: 0.5;
  cursor: not-allowed;
}

.hide
{
  opacity: 0;
  visibility: hidden;
}

.clearfix
{
  clear: both;
  overflow: hidden;
}

.text-center { text-align: center; }